.card-language {
  @apply col-span-12 sm:col-span-6 md:col-span-4 flex flex-col items-center relative;

  .progress {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

    svg.CircularProgressbar {
      .CircularProgressbar-trail {
        stroke: #fff;
        stroke-width: 2pt;
      }

      .CircularProgressbar-path {
        stroke: #fff;
        stroke-width: 6pt;
      }
    }

    svg.icon {
      width: 50px;
      height: 50px;
      position: absolute;
      align-self: center;
      margin-left: auto;
      margin-top: auto;
      margin-bottom: auto;
      margin-right: auto;
    }
  }
  .title {
    @apply text-2xl text-white;
  }
}
